body {
  background-color: #101010;
  font-family: sans-serif;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.left-flex {
  display: flex;
}
.logo {
  width: 130px;
  height: 50px;
  margin-left: 50px;
}
.navigation {
  list-style-type: none;
}
nav li {
  display: inline-block;
}
.nav__item {
  padding: 10px;
  color: white;
}
.nav__item:hover {
  color: #c4c4c4;
}
.right-flex {
  display: flex;
  align-items: center;
  margin-right: 50px;
}
.icon {
  color: white;
  font-size: 20px;
  padding: 20px;
}
.user {
  height: 40px;
  width: 40px;
  background-color: #0c87f2;
  border-radius: 5px;
}
.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  margin: 20px;
}
main {
  color: white;
}
.card {
  margin: 20px;
  height: 200px;
  width: 400px;
  text-align: center;
  color: white;
  background-color: #292929;
  position: relative;
  display: grid;
  grid-template-areas:
    "img name"
    "img species"
    "img status"
    "img location";
}
h1 {
  margin-left: 50px;
}
.species {
  grid-area: species;
  margin: 0;
}
.status {
  grid-area: status;
  margin: 0;
}
img {
  width: 200px;
  height: 200px;
  grid-area: img;
}
.dead {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  height: 200px;
  width: 400px;
}
.else {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  height: 200px;
  width: 200px;
}
.location {
  grid-area: location;
  margin: 0;
}
.menu-label {
  display: none;
}
#menu {
  display: none;
}

@media (max-width: 987px) {
  .nav {
    display: none;
  }
  .menu-label {
    display: flex;
    align-items: center;
    padding-left: 20px;
    color: white;
  }
  #menu {
    display: none;
  }
  #menu:checked ~ .nav {
    display: block;
  }
  .card {
    height: 100px;
    width: 300px;
  }
  img {
    width: 100px;
    height: 100px;
  }
  .dead {
    height: 100px;
    width: 300px;
  }
  .else {
    height: 100px;
    width: 100px;
  }
  h2 {
    font-size: 20px;
    margin: 1px;
  }
  .species,
  .status,
  .location {
    font-size: 12px;
  }
}

/*@media (max-width: 719px) {
  .card {
    height: 300px;
    width: 160px;
    grid-template-areas:
      "name"
      "species"
      "status"
      "location"
      "img"
      "img"
      "img"
      "img";
  }
  img {
    width: 160px;
    height: 160px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .dead {
    height: 300px;
    width: 160px;
  }
  .else {
    height: 160px;
    width: 160px;
  }
}*/
